* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

#page-wrapper {
    max-width: 1536px;
    background-color: #151312;
    margin: 0 auto; 
}