* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

#page-wrapper {
    max-width: 1536px;
    background-color: #151312;
    margin: 0 auto; 
}

nav {
  text-align: center;
}

nav a {
  display: inline-block;
  margin: 0 10px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img{
  width: 100%;
  max-width: 300px ;
  object-fit:cover ;
  vertical-align:middle ;
}

.wrapper{
  padding:0 15px ;
  display: flex;
  flex-wrap:wrap ;
  align-items: center;
  justify-content: space-around;
  gap: 5rem;
}

.intro{
  flex: 1;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 0;
}

.hero-left {
  max-width: 400px;
}

.hero-left h1 {
  font-size: 3rem;
  color: #F4CE14; /* Yellow */
  margin-bottom: 0;
}

.hero-left h2 {
  font-size: 2rem;
  color: #333;
  margin-top: 5px;
}

.hero-left p {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 1.1rem;
}

.hero-btn {
  background-color: #F4CE14;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.hero-right {
  position: relative;
}

.hero-img {
  width: 300px;
  height: 350px;
  border-radius: 16px;
  object-fit: cover;
  position: relative;
  top: 20px;
}
